body{
    background-color: #5622cb;
}

h1{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h3{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    text-decoration: underline;
    margin-left: 20px;
}

.divTopBackB{
    text-align: center;
    padding-bottom: 30px;
    position: absolute;
    top: 2%;
    margin-left: 93%;
}

.verticalLine{
    height: 65px;
    border-left: 1px solid;
    margin-left: 11%;
    color: rgb(236, 229, 250);
}

.bCustomF {
    background-color:#5c1685;
        display: block;
        color:#ffffff;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size:15px;
        font-style:normal;
        height:50px;
        line-height:50px;
        width:170px;
        text-decoration:none;
        text-align:center;
        border:none!important;
        border-radius: 2px;
    }.bCustomF:hover {
        background-color:#c762e0;
        border:none!important;
}

.bCustomS{
    background-color:#e6e6e6;
        display: block;
        color:#5c1685;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size:15px;
        font-style:normal;
        height:50px;
        line-height:50px;
        width:170px;
        text-decoration:none;
        text-align:center;
        border:1px solid #5c1685;
        border-width: 1px;
        border-color: #5c1685;
        border-radius: 2px;
    }.bCustomS:hover {
        background-color:#fcfcfc;
        border:none!important;
        color:#5c1685;
}


.bNavNewC {
    background-color:#5c1685;
        display: block;
        color:#ffffff;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size:15px;
        font-style:normal;
        height:35px;
        line-height:34px;
        width:200px;
        text-decoration:none;
        text-align:center;
        border:none!important;
        border-radius: 4px;
    }.bNavNewC:hover {
        background-color:#c762e0;
        border:none!important;
}

.bNavChange {
    background-color:#5c1685;
        display: block;
        color:#ffffff;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size:15px;
        font-style:normal;
        height:35px;
        line-height:34px;
        width:130px;
        text-decoration:none;
        text-align:center;
        border:none!important;
        border-radius: 4px;
    }.bNavChange:hover {
        background-color:#c762e0;
        border:none!important;
}

.bNavFindC {
    background-color:#5c1685;
        display: block;
        color:#ffffff;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size:15px;
        font-style:normal;
        height:35px;
        line-height:34px;
        width:125px;
        text-decoration:none;
        text-align:center;
        border:none!important;
        border-radius: 4px;
    }.bNavFindC:hover {
        background-color:#c762e0;
        border:none!important;
}

.bCustomLC{
    background-color:#5c1685;
        display: block;
        color:#ffffff;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size:15px;
        font-style:normal;
        height:50px;
        line-height:50px;
        width:100px;
        margin-left: 38%;
        margin-right: auto;
        text-decoration:none;
        text-align:center;
        border:none!important;
        border-radius: 2px;
    }.bCustomLC:hover {
        background-color:#c762e0;
        border:none!important;
}

.bCustomFindC{
    background-color:#5c1685;
        display: block;
        color:#ffffff;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size:15px;
        margin-top: 8%;
        font-style:normal;
        height:50px;
        line-height:50px;
        width:100px;
        margin-left: 34%;
        text-decoration:none;
        text-align:center;
        border:none!important;
        border-radius: 2px;
    }.bCustomFindC:hover {
        background-color:#c762e0;
        border:none!important;
}

.bInlineOneNC{
    margin-top: 20%;
    margin: 20px;
    top: 75%;
    margin-left: 25%;
    display: inline-block;
    position: fixed;  
}

.bInlineTwoNC{
    margin-top: 10px;
    margin: 20px;
    top: 75%;
    margin-right: 24%;
    margin-left: 42%;
    display: inline-block;
    position: fixed;    
}

.myFont{
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.pFormLeft{
    font-size: small;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #5c1685;
    text-align: left;
}

.pFormCenter{
    font-size: small;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #5c1685;
    text-align: center;
}

.pFormOBS{
    font-size: small;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #55ade0;
    text-align: justify;
}

.pFormOBSLC{
    font-size: small;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #8536ec;
    text-align: justify;
}

.whiteBoxIndex{
    background-color: #ffffff;
    height: 50%; 
    width: 24%; 
    margin-top: 3%;
    margin-bottom: 8%;
    position: absolute;
    text-align: center;
    padding-right: 14%;
    padding-left: 3%;
    margin-right: auto; 
    margin-left: 36%;
    border-radius: 7px;
}

.bTopIndex{
    position: absolute; 
    bottom: 66%; 
    width: 76%;
}

.bBottonIndex{
    position: absolute; 
    bottom: 27%; 
    width: 76%;
}

.whiteBoxNewC{
    background-color: #ffffff;
    height: 72%; 
    width: 39%;
    top: 17%; 
    margin-top: 1%;
    margin-bottom: 2%;
    position: absolute;
    text-align: center;
    padding-right: 16%;
    padding-left: 3%;
    margin-right: auto; 
    margin-left: 21%;
    border-radius: 7px;
}

.navButtonLC{
    margin-top: 15px; 
    margin-right: 5px;
    margin-left: 15px;
}

.navPLC{ 
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: medium;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 20px;
}


.deleteCBox{
    background-color: #ffffff;
    height: 35%;
    width: 24%;
    top: 16%;
    margin-top: 2%;
    margin-bottom: 4%;
    position: fixed;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: 35%;
    border-radius: 7px;
}

.changeCBox{
    background-color: #ffffff;
    height: 85%; 
    width: 40%; 
    margin-top: 2%;
    margin-bottom: 8%;
    position: absolute;
    text-align: center;
    padding-right: 4%;
    padding-left: 3%;
    margin-right: auto; 
    margin-left: 28%;
    border-radius: 7px;
}


.bChangeCBox{
    background-color: none;
    height: 10%; 
    width: 10%;
    top: 82%; 
    margin-top: 3%;
    margin-bottom: 8%;
    position: absolute;
    text-align: center;
    padding-right: 2%;
    padding-left: 30%;
    margin-right: 30%; 
    margin-left: 3%;
    border-radius: 7px;
}

.findCBox{
    background-color: #ffffff;
    height: 40%; 
    width: 28%; 
    margin-top: 2%;
    margin-bottom: 8%;
    position: absolute;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto; 
    margin-left: 29%;
    border-radius: 7px;
}

.findCBoxResult{
    background-color: #ffffff;
    height: 34%; 
    width: 25%; 
    margin-top: 2%;
    margin-bottom: 2%;
    top: 16%;
    position: fixed;
    text-align: center;
    padding-right: 0%;
    padding-left: 0%;
    margin-right: auto; 
    margin-left: 26%;
    border-radius: 7px;
}