<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Agenda de Contatos</title>
    </head>
    <body>
        <h1>Bem vindo à minha lista de contatos :D</h1>

        <a href="newContact.html">Adicionar um novo contato</a>
        <br>
        <br>
        <a href="contactList.html">Mostrar a lista de contatos</a>
        <br>
        <br>
        <hr>
        
        <br>
       
    </body>
    <script src="../script/ajaxDelete.js"></script>
</html>


<!--
<button type="button" onclick="showDiv('deleteContactDiv')">Deseja excluir um contato?</button>

<div id="deleteContactDiv" style="display:none">
    <p>Digite o ID da pessoa:</p>
    <input type="text" id="idToDelete">
    <button type="button" onclick="deleteById()">Excluir</button> 
</div>

<script>
    function showDiv(element) {
        var display = document.getElementById(element).style.display;
        if(display == "none"){
            document.getElementById(element).style.display = 'block';
        }else{
            document.getElementById(element).style.display = 'none';
        }
    }
</script>
-->