<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Novo Contato</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="icon" alt="icons8.com.br" href="../img/fav100px.png"/>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
    </head>
    <body>
        <div class="divTopBackB">
            <img alt="icons8.com.br" src="../img/back64px.png" onclick="backIndex()">
        </div>
        <div class="container">
            <h1>Adicione um novo contato</h1>
            <hr>
            <div class="container whiteBoxNewC">
                <br>
                <p class="pFormLeft">Nome:</p>
                <input type="text" style="width:160%" id="fNameC" name="fNameC">
                <br>
                <br>
                <p class="pFormLeft">Sobrenome:</p>
                <input type="text" style="width:160%" id="lNameC" name="lNameC">
                <br><br>
                <p class="pFormLeft">E-mail:</p>
                <input type="email" style="width:160%" id="emailC" name="emailC">
                <br><br>
                <p class="pFormLeft" style="text-align: justify;">Telefone:</p>
                <input type="text" style="width:160%" id="telC" name="telC">
                <br/>
                
            </div>
            <div class="bInlineTwoNC">
                <button type="button" class="bCustomF"  onclick="sendData()">Adicionar</button>
            </div>
            <div class="bInlineOneNC">
                <button type="button" class="bCustomS "  onclick='showC()'>Mostrar contatos</button>      
            </div>
            
            <br>
            <br>
            <br>
        </div>
        <script src="../script/ajaxPost.js"></script>            
    </body>
    <!--
         -->
</html>