<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Novo Contato</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container my-5">
            <h2>Adicione um novo contato</h2>
                <input type="text" id="fNameC" name="fNameC" placeholder="Nome">
                <input type="text" id="lNameC" name="lNameC" placeholder="Sobrenome">
                <input type="text" id="emailC" name="emailC" placeholder="E-mail">
                <input type="text" id="telC" name="telC" placeholder="Telefone">
                <br/>
                <br/>
                <script src="../script/ajaxPost.js"></script>
            <button class="btn btn-primary" onclick="sendData()">Adicionar</button>
            <button type="button" class="btn btn-secundary" onclick='showC()'>Mostrar contatos</button>
            <br>
            <br>
            <br>
            <a href='../index.html'>Voltar para a página inicial</a>            
    </body>
</html>